.emergency-banner {
  background-color: govuk-colour("mid-grey");
  color: govuk-colour("white");
  margin-top: 2px;
  padding: govuk-spacing(3) 0;

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(6) 0;
  }

  .homepage & {
    margin-top: govuk-spacing(1);
    margin-bottom: govuk-spacing(1);
  }
}

.emergency-banner__heading {
  @include govuk-font(24, $weight: bold);
  margin: 0;

  .homepage & {
    @include govuk-font(48, $weight: bold);

    @include govuk-media-query($from: tablet) {
      margin-bottom: govuk-spacing(4);
    }
  }
}

.emergency-banner .emergency-banner__description {
  color: govuk-colour("white");
  margin-top: 0;
  margin-bottom: govuk-spacing(4);

  &:last-child {
    margin-bottom: 0;
  }

  .homepage & {
    margin: govuk-spacing(4) 0;
  }
}

.emergency-banner .emergency-banner__link {
  &:link,
  &:visited {
    color: govuk-colour("white");
  }

  &:focus {
    color: $govuk-focus-text-colour;
  }
}

.emergency-banner__blue-bar {
  border-bottom: govuk-spacing(2) solid $govuk-brand-colour;

  .homepage & {
    border-width: 0;
  }
}

.emergency-banner--notable-death {
  background-color: govuk-colour("black");
}

.emergency-banner--national-emergency {
  background-color: #b10e1e; // govuk-colour("red"); // govuk red is #d4351c
}

.emergency-banner--local-emergency {
  background-color: govuk-colour("turquoise");
}
